/* ===================== Custom CSS Variables ========================== */

{% if settings.button_style == 'round-slight' %}
--button-radius: 3px;
{% elsif settings.button_style == 'round' %}
--button-radius: 50px;
{% else %}
--button-radius: 0px;
{% endif %}

